<section class="header">
  <div class="container">
    <h1><a routerLink="/home">Store</a></h1>
    <div id="form-container">
      <label for="sort">Sort by</label>
      <input type="checkbox" name="sort" id="sort" class="block--invisible">
      <div id="_sort">
        <label for="sort" class="sort_option"><li>Todo</li></label> 
        <label for="sort" class="sort_option"><li>Embutidos</li></label> 
        <label for="sort" class="sort_option"><li>Licores</li></label>
      </div>
      <input type="text" name="search_term" placeholder="search" [(ngModel)]="search_term"
        (change)="search(search_term)">
    </div>
    <div id="user"><a routerLink="">username</a></div>
  </div>
</section>
<router-outlet></router-outlet>