$color: (
    darken: #222831,
    dark: #393e46,
    accent: #d65a31,
    ligth: #eeeeee
);

@function color($map) {
    @return map-get($map: $color, $key: $map);
}
.container {
    display: flex;
    justify-content: space-between;
}
.sidebar {
    width: 12%;
    min-height: calc(100vh - 150px);
    height: 100%;
    display: inline-block;
    margin-right: 15px;
    padding: 10px;

    li {
        cursor: pointer;
        padding-left: 3px;
        width: 100%;
        margin: 2px 0;
        &:hover {
            background: color(accent);
            color: color(ligth);
        }
    }
}

#not-found {
    width: 100%;
    height: 100%;
    display: flex;

    h1 {
        margin: auto;
        width: 100%;
        text-align: center;
        color: color(dark);
        text-transform: uppercase;
        font-weight: lighter;
    }
}

#list {
    width: 86%;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    margin-left: 10px;
    padding: 20px 10px;

    #wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: space-between;

        article {
            width: 25%;
            min-width: 300px;
            min-height: 350px;
            display: inline-block;
            margin: 10px 15px;
            // padding-bottom: 10px;
            transition: 0.2s;

            &.block--invisible {
                display: none;
            }

            .cover {
                width: 100%;
                height: 280px;
                display: block;
                position: relative;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    vertical-align: baseline;
                }

                h1 {
                    width: 60px;
                    height: 60px;
                    color: white;
                    background: color(accent);
                    display: block;
                    padding: 10px 0;
                    padding-top: 16px;
                    text-align: center;
                    z-index: 3;
                    position: absolute;
                    border-radius: 100%;
                    right: 15px;
                    top: 0;
                }
            }

            .info {
                width: 100%;
            min-height: 70px;


                h1 {
                    width: 100%;
                    text-align: center;
                    margin: 10px auto;

                    a {
                        color: color(dark);
                    }
                }

                h3 {
                    width: 100%;
                    text-align: center;
                    color: color(accent);
                }
            }
            &:hover {
                border-left: 2px solid color(accent);
                border-right: 2px solid color(accent);
            }
        }

    }
}