/* You can add global styles to this file, and also import other style files */
$color: (
    darken: #222831,
    dark: #393e46,
    accent: #d65a31,
    ligth: #d65a31
);

@function color($map) {
    @return map-get($map: $color, $key: $map)
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 0.16s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
    width: 100%;
    min-height: calc(100vh - 160px);
    display: block;
}

.block {
    display: block;
    &--invisible {
        display: none;
    }
}

.container {
    width: 90%;
    height: 100%;
    display: block;
    margin: auto;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background: color(darken);
}

.full-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-row {
        flex-direction: row;
    }

    * {
        margin: auto;
    }
}